<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Disease</title>
</head>
<body>
<h2>Add New Disease</h2>
<form action="/addDisease" method="post">
    <div class="form-group">
        <label for="name">Disease Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="patient">Patient:</label>
        <select id="patient" name="patientId" required>
            <option value="">Select Patient</option>
            <!-- Используем Thymeleaf для отображения списка пациентов -->
            <option th:each="patient : ${patients}" th:value="${patient.id}" th:text="${patient.name}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="diseaseDescription">Disease Description:</label>
        <textarea id="diseaseDescription" name="diseaseDescription" required></textarea>
    </div>
    <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" name="startDate" required>
    </div>
    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="text" id="endDate" name="endDate" required>
    </div>
    <button type="submit">Add Disease</button>
</form>
</body>
</html>
