<!-- Форма для добавления нового заболевания -->
<div class="form-container">
    <h2>Добавить новое заболевание</h2>
    <form action="/addDisease" method="post">
       
        <div class="form-group">
            <label for="diseaseName">Название заболевания:</label>
            <input type="text" id="diseaseName" name="diseaseName" required>
        </div>
        <div class="form-group">
            <label for="diseaseDescription">Описание заболевания:</label>
            <textarea id="diseaseDescription" name="diseaseDescription" required></textarea>
        </div>
        <button type="submit">Добавить</button>
    </form>
</div>
